<div class="tab-pane" style="padding: 5px 5px 5px 5px">
    <section class="content-header" >
		<h1><i class="fas fa-tasks" style="color: black"></i> Editar laboratórios</h1>
	</section>
    <form class="row g-2 fs-4" action="/adicionar" method="post" style="margin-top: 10px; padding: 10px 10px 10px 10px">
	  <legend> Incluir laboratório</legend>
	  <div class="row">
	  	<input class="col form-control fs-4" type="text" name="Nmarca" required>
	  	<span class="col-5 position-relative"><a href="" onclick="return confirm('Deseja realmente excluir este registro?')"class="btn btn-success btn-xs position-absolute top-50 translate-middle-y"><i class="far fa-check-circle"></i> Incluir</a></span>
	  </div>
	  <legend class="mt-5"> Excluir laboratório</legend>
	  <div class="col-4"> 
		  <table class="table table-striped fs-4">			  
			  <tbody>
		          {loop="$laboratorio"}
		          <tr  style="text-align: left">
		            <td >{$value.laboratorio}</td>
		            <td style="text-align: right">
		              <a href="/adicionar/laboratorio/{$value.idlaboratorios}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
		            </td>
		          </tr>
		          {/loop}
		        </tbody>		        
		   </table>
	   </div>
	   <div class="fs-3 mt-4"><a class="col-1 btn btn-dark fs-4" href="/adicionar" role="button">Voltar</a></div>	   
	 </form>	
	</div>